body {

    /*font-family: Raleway;*/
    background-color: #eef0f3;
    background-size: cover;



    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;

    margin-top: 40px;
}

.container2 {
    background-color: #ffffff;
}